<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="https://www.nolsatu.id/accounts/login/?navbar=hidden&next=https%3A//course.nolsatu.id/login"><span class="glyphicon glyphicon-user"></span> Nolsatu Login</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://course.nolsatu.id/"><span class="glyphicon glyphicon-book"></span> Nolsatu Dev Center</a>
      </li>
    </ul>
  </div>
</nav>
